 {% extends "layout2.html" %}

{% block title %}
    To_do questions
{% endblock %}

{% block main %}

    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Create To-do questions
                </h1>
                <ol class="breadcrumb">
                    <li><a href="{{ url_for('index') }}">Home</a>
                    </li>
                    <li><a href="{{ url_for('create_task') }}">Create To-do</a>
                    </li>
                    <li class="active">Questions</li>
                </ol>
            </div>
        </div>

        
        <div class="row">
            <div class="col-md-6">
                <h4>How do I create a to-do?</h4>
                <ol>
                    <li> <h4><small>Enter what your to-do is in the first row </small></h4> </li>
                    <li> <h4><small>Enter when you will do the task in the second row </small></h4></li>
                    <li> <h4><small>Enter where you will do the task in the third row </small></h4></li>
                    <li> <h4><small>Enter how you will get to the place in the third row in the fourth row </small></h4></li>
                </ol>
            </div>
            <div class="col-md-6">
                <h4>Example</h4>
                <ol>
                    <li> <h4><small>Math Homework </small></h4> </li>
                    <li> <h4><small>At 6 after I finish watching TV </small></h4></li>
                    <li> <h4><small>The Library </small></h4></li>
                    <li> <h4><small>Leave my dorm, walk down the stairs and to the library </small></h4></li>
                </ol>
            </div>
        </div>
        
        
        <div class="row">
            <div class="col-md-6">
                <h4> Then what? </h4>
                <ul>
                    <li> <h4><small>Then, just follow your plan! </small></h4> </li>
                    <li> <h4><small>You can see all your to-dos you have made under View in the upper navbar. </small></h4></li>
                    <li> <h4><small>Under each todo, you will be given a simple, actionable statement that will make your plan even easier to follow. Feel free to tweak the grammar if necessary. </small></h4></li>
                </ul>
            </div>
            
            <div class="col-md-6">
                <h4> Why does this work? </h4>
                <ul>
                    <li> <h4><small>Creating a concrete plan makes starting your task easier when the time comes. You don't need to spend any cognitive resources determining how to start and will be less tempted by potential distractions. </small></h4> </li>
                    <li> <h4><small><b>The more specific your plans, the more effective they will be. </b></small></h4> </li>
                    <li> <h4><small>Click <a href="{{ url_for('effectiveness') }}">here</a> too see how effective this method is. </small></h4></li>
                    <li> <h4><small>Click <a href="http://www.psych.nyu.edu/gollwitzer/99Goll_ImpInt.pdf">here</a> if you are interested in the full report on how and why this works. </small></h4></li>
                </ul>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-6">
                <h4> What is the difference between a to-do and goal? </h4>
                <ul>
                    <li> <h4><small>To-dos are relatively simple tasks and short-term. Goals are more general and long-term. </small></h4> </li>
                    <li> <h4><small> We recommend figuring out concrete, necessary to-dos that will help you achieve your goals. For example, some to-dos for the goal "get fit" could be "go to the gym twice a week" and "eat vegetables at lunch everyday" </small></h4></li>
                </ul>
            </div>
        </div>  
    </div>

{% endblock %}